<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

    <header>
        Movie Tracker
        {% extends "visitorNav.html" %}
    </header>

    {% block content %}
    
    <h2>Register</h2>

    <form action="/register" method="POST">
        <label for="email">Email:</label> <br>
        <input type="email" name="email" id="email" required>

        <br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required>

        <br>

        <label for="cpassword">Confirm Password</label> <br>
        <input type="password" name="cpassword" id="cpassword">

        <br>

        <button value="submit">Sign Up</button>

        {% if error %}
            <div style="color: red; font-weight: bold; margin-bottom: 10px;">
                ⚠️ {{ error }}
            </div>
        {% endif %}

        <a href="{{ url_for('login') }}">Already have an account?</a>


    </form>

    {% endblock %}

</body>
</html>