<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movies</title>
</head>
<body>


    <header>
        Movie Tracker
    </header>

    <nav>
        {% include "nav.html" %}
    </nav>

    {% block content %}  

    <div class="filter-container">

    <form action="{{ url_for ('chooseGenre') }}" method="POST" id="viewForm">

        <label for="genre">Genre:</label>

        <select name="genre" id="genre">

            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Romance">Romance</option>
            <option value="Comedy">Comedy</option>
            <option value="Horror">Horror</option>

        </select>

        <button value="submit">Submit</button>

    </form>


    <form action="{{ url_for ('sortRatings') }}" method="POST">

        <label for="rating">Ratings:</label>

        <select name="rating" id="rating">

            <option value="high">High to Low</option>
            <option value="low">Low to High</option>

        </select>

        <button value="submit">Submit</button>

    </form>


        <form action="{{ url_for ('sortDates') }}" method="POST">

        <label for="date">Date:</label>

        <select name="date" id="date">

            <option value="newest">Newest to Oldest</option>
            <option value="oldest">Oldest to Newest</option>

        </select>

        <button value="submit">Submit</button>

    </form>

    </div>
    


    <div class="view-container">
        <table>

            <thead>

                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Date</th>
                    <th>Posted by</th>
                </tr> 

            </thead>

            <tbody>

                {% for movie in movies %}

                    <tr>
                        
                        <td>{{ movie[0] }}</td>
                        <td>{{ movie[1] }}</td>
                        <td>{{ movie[2] }}</td>
                        <td>{{ movie[3] }}</td>
                        <td>{{ movie[4] }}</td>
                        <td>{{ movie[5] }}</td>
                        <td>{{ movie[6] }}</td>
                        <td>{{ movie[7] }}</td>

                    </tr>
                    
                {% endfor %}

            </tbody>

        </table>
    </div>


<footer>
    2026 Copyright
</footer>
{% endblock %} 



</body>
</html>