<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>

    <header>View Movies</header>

    <header>
        Movie Tracker
        {% extends "nav.html" %}

    </header>


    <form action="{{ url_for ('chooseGenre') }}" method="POST">

        <label for="genre">Genre:</label>

        <select name="genre" id="genre">

            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Romance">Romance</option>
            <option value="Comedy">Comedy</option>
            <option value="Horror">Horror</option>


        </select>

        <button value="submit">Submit</button>

    </form>


    <form action="{{ url_for ('sortRatings') }}" method="POST">

        <label for="rating">Ratings:</label>

        <select name="rating" id="rating">

            <option value="high">High to Low</option>
            <option value="low">Low to High</option>

        </select>

        <button value="submit">Submit</button>

    </form>


        <form action="{{ url_for ('sortDates') }}" method="POST">

        <label for="date">Date:</label>

        <select name="date" id="date">

            <option value="newest">Newest to Oldest</option>
            <option value="oldest">Oldest to Newest</option>

        </select>

        <button value="submit">Submit</button>

    </form>


    {% block content %}  
    
    <table>

        <thead>

            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Date</th>
                <th>Posted by</th>
            </tr> 

        </thead>

        <tbody>

            {% for movie in movies %}

                <tr>
                    <td>{{ movie[0] }}</td>
                    <td>{{ movie[1] }}</td>
                    <td>{{ movie[2] }}</td>
                    <td>{{ movie[3] }}</td>
                    <td>{{ movie[4] }}</td>
                    <td>{{ movie[5] }}</td>
                    <td>{{ movie[6] }}</td>
                    <td>{{ movie[7] }}</td>


                    <td>
                        <a href="{{ url_for('editMovie', id = movie[0]) }}">Edit</a>  

                        <form action="{{ url_for('deleteMovie', id = movie[0]) }}" method="POST"> 
                            <button type="submit" name="submit" value="delete">delete</button>
                        </form>
                    </td>

                </tr>
                
            {% endfor %}

        </tbody>

    </table>

{% endblock %} 



</body>
</html>